# Acquiring data

In [2]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [3]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"anasnafisalmustofa","key":"bc42992b79b2f13675109489719558b2"}'}

In [4]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [5]:
!kaggle datasets download -d vbookshelf/respiratory-sound-database

Downloading respiratory-sound-database.zip to /content
100% 3.68G/3.69G [00:46<00:00, 62.0MB/s]
100% 3.69G/3.69G [00:46<00:00, 85.8MB/s]

In [6]:
!ls

kaggle.json  respiratory-sound-database.zip  sample_data

In [7]:
import zipfile
zip_ref = zipfile.ZipFile('respiratory-sound-database.zip', 'r')
zip_ref.extractall('files')
zip_ref.close()

Buat dataframe database suara paru

In [10]:
import wave
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import tensorflow

%matplotlib inline

In [9]:
df_no_diagnosis = pd.read_csv('/content/files/demographic_info.txt', names = 
                 ['Patient number', 'Age', 'Sex' , 'Adult BMI (kg/m2)', 'Child Weight (kg)' , 'Child Height (cm)'], delimiter = ' ')

diagnosis = pd.read_csv('/content/files/respiratory_sound_database/Respiratory_Sound_Database/patient_diagnosis.csv', names = ['Patient number', 'Diagnosis'])

In [11]:
df =  df_no_diagnosis.join(diagnosis.set_index('Patient number'), on = 'Patient number', how = 'left')
df['Diagnosis'].value_counts()

COPD              64
Healthy           26
URTI              14
Bronchiectasis     7
Pneumonia          6
Bronchiolitis      6
LRTI               2
Asthma             1
Name: Diagnosis, dtype: int64

In [20]:
df

     Patient number    Age  ... Child Height (cm)  Diagnosis
0               101   3.00  ...              99.0       URTI
1               102   0.75  ...              73.0    Healthy
2               103  70.00  ...               NaN     Asthma
3               104  70.00  ...               NaN       COPD
4               105   7.00  ...             135.0       URTI
..              ...    ...  ...               ...        ...
121             222  60.00  ...               NaN       COPD
122             223    NaN  ...               NaN       COPD
123             224  10.00  ...             143.0    Healthy
124             225   0.83  ...              74.0    Healthy
125             226   4.00  ...             103.0  Pneumonia

[126 rows x 7 columns]

In [12]:
root = '/content/files/respiratory_sound_database/Respiratory_Sound_Database/audio_and_txt_files/'
filenames = [s.split('.')[0] for s in os.listdir(path = root) if '.txt' in s]

In [13]:
def Extract_Annotation_Data(file_name, root):
    tokens = file_name.split('_')
    recording_info = pd.DataFrame(data = [tokens], columns = ['Patient number', 'Recording index', 'Chest location','Acquisition mode','Recording equipment'])
    recording_annotations = pd.read_csv(os.path.join(root, file_name + '.txt'), names = ['Start', 'End', 'Crackles', 'Wheezes'], delimiter= '\t')
    return (recording_info, recording_annotations)

In [15]:
i_list = []
rec_annotations = []
rec_annotations_dict = {}
for s in filenames:
    (i,a) = Extract_Annotation_Data(s, root)
    i_list.append(i)
    rec_annotations.append(a)
    rec_annotations_dict[s] = a
recording_info = pd.concat(i_list, axis = 0)
recording_info.head()

  Patient number Recording index  ... Acquisition mode Recording equipment
0            176             1b4  ...               mc            AKGC417L
0            221             2b2  ...               mc            LittC2SE
0            175             1b1  ...               sc            Litt3200
0            218             1b1  ...               sc            Meditron
0            207             3b2  ...               mc            AKGC417L

[5 rows x 5 columns]

In [16]:
no_label_list = []
crack_list = []
wheeze_list = []
both_sym_list = []
filename_list = []
for f in filenames:
    d = rec_annotations_dict[f]
    no_labels = len(d[(d['Crackles'] == 0) & (d['Wheezes'] == 0)].index)
    n_crackles = len(d[(d['Crackles'] == 1) & (d['Wheezes'] == 0)].index)
    n_wheezes = len(d[(d['Crackles'] == 0) & (d['Wheezes'] == 1)].index)
    both_sym = len(d[(d['Crackles'] == 1) & (d['Wheezes'] == 1)].index)
    no_label_list.append(no_labels)
    crack_list.append(n_crackles)
    wheeze_list.append(n_wheezes)
    both_sym_list.append(both_sym)
    filename_list.append(f)

In [19]:
file_label_df = pd.DataFrame(data = {'filename':filename_list, 'no label':no_label_list, 'crackles only':crack_list, 'wheezes only':wheeze_list, 'crackles and wheezees':both_sym_list})
file_label_df

                   filename  no label  ...  wheezes only  crackles and wheezees
0    176_1b4_Al_mc_AKGC417L         1  ...             0                      0
1    221_2b2_Ar_mc_LittC2SE         1  ...             1                      4
2    175_1b1_Pr_sc_Litt3200         1  ...             3                      0
3    218_1b1_Pr_sc_Meditron         2  ...             2                     11
4    207_3b2_Pl_mc_AKGC417L         9  ...             0                      0
..                      ...       ...  ...           ...                    ...
915  218_1b1_Al_sc_Meditron         5  ...             1                      5
916  146_2b4_Lr_mc_AKGC417L         6  ...             0                      0
917  216_1b1_Pl_sc_Meditron         2  ...             8                      0
918  151_3p2_Pl_mc_AKGC417L         0  ...             0                      1
919  148_1b1_Al_sc_Meditron        11  ...             0                      0

[920 rows x 5 columns]

# Exploratory Data Analysis

# Preprocessing

# Training and Testing

Metric : Accuracy, waktu komputasi prediksi

# Integration with mobile